.page-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-title-container {
  width: 100%; /* Changed from 1400px to 100% for responsiveness */
  max-width: 1400px; /* Optional: Keeps the design from stretching too much on larger screens */
  display: flex;
  justify-content: left;
  padding: 0 16px; /* Added padding to ensure spacing on smaller screens */
}

.page-title {
  display: flex;
  justify-content: center;  
  align-items: center;
  font-size: 32px;
  color: #3a3939;
  font-weight: 400;
  margin-bottom: 24px;
}

@media (max-width: 1200px) {
  .page-title-container {
    justify-content: center;
  }

  .page-title {
    font-size: 24px;
  }
}
