.video-line {
    position: relative;
    width: 100%;

    > img {
        width: 100%;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        cursor: pointer;
    }

    /* Основные стили для видео контейнера */
    div[class*="h-96"], div[class*="h-[450px]"], div[class*="h-[500px]"] {
        iframe {
            position: absolute !important;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            border: none !important;
            object-fit: cover !important;
        }
        
        video {
            object-fit: scale-down !important;
        }
    }
}