.container4 {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
  }
  
  .task-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
  }

  
  .dropzones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    gap: 20px;
  }
  
  .drop-zone {
    height: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .drop-zone.over {
    background-color: #a0a0a0;
  }
  
  .items-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
  }

  
  .dragging {
    opacity: 0.5;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #1565c0;
  }
  .number {
    width: 40px;
    height: 40px;
    border-right: 1px dashed #1F3C88;
    background-color: #B3C9EA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px; /* Adjust border-radius */
}

.drag-item {
    padding: 10px;
    background-color: #B3C9EA;
    border-radius: 0 5px 5px 0; /* Adjust border-radius */
    width: 300px;
    border-left: 1px dashed #1F3C88;
    cursor: grab;
    color: #1F3C88;
}
