.customer-container {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #00000080;
    border-radius: 10px;
    background-color: #fff;
}

.customer-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.customer-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.customer-name {
    font-size: 14px;
    color: #0000005d;
}

.operation-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.operation-selector {
    padding: 5px 10px;
    border: 1px solid #00000048;
    color: rgba(0, 0, 0, 0.377);
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.operation-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    border: 1px solid #DAD8D8;
    border-radius: 4px;
    background-color: #F9F9F9;
    z-index: 10;
}

.operation-option {
    padding: 10px;
    cursor: pointer;
    color: #333;
}

.operation-option:hover {
    background-color: #e6e6e6;
}
