.sub-button {
    background-color: #5792EB;
    border: 1px solid rgba(122, 129, 153, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
    min-width: 100px;
  
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
  
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
  
    &:hover {
      background-color: #467bcc; /* Darker shade for hover */
    }
  
    &:active {
      background-color: #c6d4eb;
    }
}

.modal-popup {
    position: absolute;
    top: calc(100% + 10px); /* 10px below the button */
    right: 1px;
    background-color: #ffffff;
    color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    pointer-events: none; /* Ensures the modal doesn't interfere with other elements */
  
    &::before {
        content: '';
        position: absolute;
        top: -10px;
        border-width: 0 10px 10px;
        border-style: solid;
        border-color: transparent transparent #ffffff;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.sub-button.disabled {
    background-color: gray;
    cursor: not-allowed;
}
