.result-page{
    display: flex;
    width: 100%;
    justify-content: center;
}
.level-progress{
    display: flex;
    width: 50%;
    justify-content: center;
}
.level-summary{
    display: flex;
    width: 50%;
    justify-content: center;
}
.result-button-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.result-button{
    width: 73.5%;
    display: flex;
    justify-content: flex-end;
}
.result-button button{
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgba(31, 60, 136, 0.7);
}
.result-button button:hover{
    scale: 1.02;
    transition: 0.3s;
}
.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Занимает всю высоту экрана */
    background-color: #f0f0f0; /* Светлый фон, соответствующий общему стилю */
    color: #333;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.loading-text {
    margin-bottom: 20px;
}

.loading-icon {
    font-size: 50px;
    animation: rotate 1s linear infinite;
    color: rgba(31, 60, 136, 0.7); /* Цвет стрелки, соответствующий стилю кнопки */
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
.result-button button {
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgba(31, 60, 136, 0.7);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.result-button .blue:hover {
    transform: scale(1.02);
}

.result-button .blue:disabled {
    background-color: #7a8199; /* Серый цвет для отключенной кнопки */
    cursor: not-allowed; /* Указатель, показывающий, что кнопка недоступна */
    transform: none; /* Убираем эффект увеличения */
}


