ul {
    padding-left: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    list-style-type: auto;
 }
 li {
    display: list-item;    /* Ensures the list item behaves correctly */
}
.haha{
    margin-top: 7px !important;
}